/*
StyleSheet coding standards:

1. use lowercase if possible

2. format styles like this:

body
{
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif
}

3. existing html elements on top of the document, then all self defined .classes and at last all self defined #id's.

4. close every property with ; also the last one.
*/


form
{
	margin:0px;
	padding:0px;
}

img
{
	border-width:0px;
	border-style:none;
	/*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader;
*/
}

a:link,a:visited
{
	cursor:pointer;
	color: #006699; 
	text-decoration: none;
}

/*
a:visited 
{
	color: #006699; 
	text-decoration: none;
}
*/
a:hover,a:active
{
	cursor:pointer;
	color: #ff9933;
	text-decoration: underline;
}
/*
a:active 
{
	color: #006699; 
	text-decoration: underline;
}
*/
input,button
{
	font-size: 12px; 
	color: #006699; 
	font-family: Arial, Helvetica, sans-serif;
	border: 1px #bbbbbb solid;
}

input[type=submit],input[type=button],input[type=reset],button
{
	margin:1px;
	padding:1px;
	cursor: pointer; 
	cursor: hand;
}

input[type=image]
{
	cursor: pointer; 
	cursor: hand;
	border: 0px #bbbbbb none;
}
select 
{
	font-size: 11px; 
	color: #006699; 
	font-family: Arial, Helvetica, sans-serif;
	border: 1px #bbbbbb solid;
}

td
{

/* global tags should never be defined here [ndee]*/
	font-size: 11px;
/* removed text-align:left; [ndee]*/
	/*	padding-top:1px;
	padding-bottom:1px;*/
}


a.appTitles,.appTitles
{
	font-size: 10px; 
	height:18px;
	padding-top:2px;
	padding-bottom:2px;
}

.greyLine
{
	margin:1px;
	border-top-color:#7e7e7e;
	border-top-width:1px;
	border-top-style:solid;
	height:1px;
}

#divStatusBar
{
	background-color:white;
	height:15px;
	padding-left:10px;
	margin-top: 13px;
	/*	margin-bottom: 2px;*/
}

/*#divSubContainer
{
}
*/
#tdSidebox
{
	width:170px;
	background-color:white;
	overflow:visible;
}


#tdAppbox
{
	background-color:white; 
	padding-left:5px;
	width: 100%;
}
#divSideboxContainer
{
	position:relative;
	width:150px;
	top:0px;
	left:0px;
	background-color:white;
	border-width:1px;
	border-style:solid;
	z-index:40;
}





#divAppboxHeader
{
	/*width:100%;*/
	background-image:url(../images/appbox-header-background.png);
	background-repeat: repeat-x;
	height:36px;
	line-height:28px;
	text-align:center;
	/*	padding-top:7px;*/
	padding-bottom:0px;
	font-size:14px;
	font-weight:bold;
	color:#666666;
	border-top-color:#9c9c9c;
	border-top-width:1px;
	border-top-style:solid;
	border-left-color:#9c9c9c;
	border-left-width:1px;
	border-left-style:solid;
	border-right-color:#9c9c9c;
	border-right-width:1px;
	border-right-style:solid;
}

#divAppbox
{
/*	width:100%;*/
	background-color:#f7f7f7;
	margin-top:30px;
	padding:0;
	border: 1px solid #9c9c9c;
	
}

#fmStatusBar
{
	margin-left:4px;
	margin-bottom:3px;
	font-size: 10px; 
/*	font-family: Verdana, Arial, Helvetica, sans-serif;*/
	

}


.fmButton
{
	background-image:url(../images/buttonbackground.png);
	width:28px;
	height:28px;
	background-repeat: no-repeat;
}

#fmLocation
{
	position:relative;
	/*background-image:url(../images/buttonbackgroundscaled.png);
	background-repeat: repeat-x;*/
	/*margin-left:4px;*/
	margin-bottom:3px;
	height:27px;

}

#fmMenu
{
	position:relative;
}
#fmFileWindow
{
	background-color:#ffffff;
	margin-left:4px;
	padding:5px;
	position:relative;
	border-right: #cccccc 1px solid; 
	border-top: #9c9c9c 2px solid; 
	border-left: #9c9c9c 2px solid; 
	border-bottom: #cccccc 1px solid
}

#admin_info
{
	position:relative;
	text-align:right;
}

#divGenTime
{
	bottom:14px;
	font-size: 9px;
	color: #ff0000;
	text-align:center;
	width:99%;
}

#divPoweredBy 
{
	bottom:14px;
	font-size: 9px;
	color: #000;
	text-align:center;
	width:99%;
}

#nav{
	padding: 0;
	background-color: #F00;
	list-style: none;
	height: 26px;
	width:100%;	
	position: fixed;
	margin:0;
	background-color: #CCC;
	top:0;
	left:0;
	background-image:url('../images/back_menubar.png'); 
	z-index: 50;
	border-bottom: 1px solid #9c9c9c;
}
 
#nav a {
	text-decoration:none; 
	margin: 2px;
	padding-left: 3px;
	padding-right: 3px;
}
#nav a.activated {
	background-color:#EEE; 
	border: 1px solid #000;
	margin: 1px;
}

#nav a:hover {
	background-color:#EEE; 
	border: 1px solid #000;
	margin: 1px;
}

#nav ul {
	padding-top: 2px;
	background-color:#FFF;
	border: 1px solid #000;
 	display:none;
	margin-left: 1px;
	padding-left: 0px;
	position: absolute;
}
#nav li
{
	padding: 0;
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 0;

	list-style: none;
	float:left;
	height: 18px;
}
#nav li li
{
	clear:both;
	margin-right:2px;
}


